<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="/static/CSS/materialize.css"  media="screen,projection"/>

    <title>SetForSummer.org | Home</title>
</head>
<body>
    <h1>is this displaying right?</h1>
</body>
</html>