<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Finger+Paint" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="{% static 'setForSummer_app/CSS/materialize.css'%}" media="screen,projection"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>


    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.slider').slider();
            $('.modal').modal();
            $('.collapsible-header').click(function () {
                $('.collapsible').collapsible();
                var id = $(this).attr('id-out')
                console.log(id)

                $.ajax({
                    url: 'map/' + id,
                    success: function (serverResponse) {
                        $('#{{lastID}}').html(serverResponse)
                    }
                })
            })
        });
    </script>
    <title>SetForSummer.org | Learning</title>
</head>

<body>
    <style>
        .flow-text {
            text-align: justify;
        }

        #top-btn {
            position: fixed;
            top: 90%;
            left: 89%;
            /* display: none; */
        }

        .logo {
            font-family: 'Finger Paint', cursive;
            text-shadow: 0 0 10px #2c6707;

            font-size: 1.7rem;
        }
    </style>
    <a href="" name='top'></a>
    <nav class="nav-extended blue accent-3 ">
        <div class="nav-wrapper">
                <div class="row">
                        <div class="col s5 offset-s1">
                                <a href="#" class="logo brand-logo yellow-text hide-on-med-and-up" style="font-size: 1.7rem">
                                    <b>SetForSummer<span style="color: #00e600">.</span>Org</b>
                                </a>
                                <a href="#" class="logo brand-logo yellow-text hide-on-small-only" style="font-size: 2rem">
                                    <b>SetForSummer<span style="color: #00e600">.</span>Org</b>
                                </a>
                        </div>
                    </div>
            <a href="#" data-target="mobilenav" class="sidenav-trigger yellow-text">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down yellow-text">
                <li>
                    <a href="/faqs">FAQs</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/signup" class="modal-trigger">Sign Up</a>
                </li>
            </ul>
        </div>
        <div class="nav-content yellow-text">
            <ul class="tabs tabs-transparent yellow-text">
                <li class="tab">
                    <a href="/setHome" class="">Home</a>
                </li>
                <li class="tab">
                    <a href="/food" class="">Food</a>
                </li>
                <li class="tab">
                    <a href="/activities">Activities</a>
                </li>
                <li class="tab">
                    <a href="/learning" class="active">Learning</a>
                </li>
                <!-- <li class="tab">
                        <a href="#test4">Test 4</a>
                    </li> -->
            </ul>
        </div>
    </nav>
    <div class="section" id="top"></div>
    <ul class="sidenav" id="mobilenav">
        <li>
            <a href="/faqs">FAQs</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
        <li>
            <a href="#signup" class="modal-trigger">Sign Up</a>
        </li>
    </ul>


    <div id="signup" class="modal">
        <div class="modal-content">
            <h5>Sign Up!</h5>
            <p>We want to know more about the visitors who use this site.</p>
            <p>We'll use this data to help provide better resources and help more kids!</p>
        </div>
        <div class="row">
            <form action="" method="post" id="emailSignup" >
                {% csrf_token %}
                <div class="row">
                    <div class="col s8 offset-s1 input-field">
                        <input type="email" name="email" id="email" class="validation">
                        <label for="email">Input your email</label>
                        <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s8 offset-s1 input-field">
                        <input type="text" name="name" class="validate" id="name">
                        <label for="name">Your name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 offset-s1 input-field">
                        <input type="tel" name="phone" class="validate" id="phone">
                        <label for="phone">Phone number</label>
                    </div>
                    <div class="col s4 offset-s1 input-field">
                        <input type="number" name="zip" class="validate" id="zip">
                        <label for="zip">Zipcode</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1 m4 offset-m1 l4 offset-l1 input-field">
                        <p>Which of the following best describes you:</p>
                        <select name="relationship" id="relationship" class="browser-default">
                            <option value="" selected disabled>--</option>
                            <option value="families">Parent/Guardian/Youth</option>
                            <option value="provider">provider</option>
                            <option value="org">organization</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1 input-field">
                        <p>Sign up for our newsletter and we'll send you links</p>
                        <p> to resources, events, and updates by email.</p>
                        <p>
                            <label for="news">
                                <input type="checkbox" name="news" id="news">
                                <span>Newsletter opt-in</span>
                            </label>
                        </p>
                        <br>
                        <p>What resources are you interested in? (Choose all that apply)</p>
                        <p>
                            <label for="food">
                                <input type="checkbox" name="food" id="food">
                                <span>Food Resources</span>
                            </label>
                        </p>
                        <p>
                            <label for="activities">
                                <input type="checkbox" name="activities" id="activities">
                                <span>Activities</span>
                            </label>
                        </p>
                        <p>
                            <label for="learning">
                                <input type="checkbox" name="learning" id="learning">
                                <span>learning</span>
                            </label>
                        </p>
                    </div>
                    
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" onclick="document.getElementById('emailSignup').submit()" class="modal-close waves-effect waves-green btn-flat">Sign Up</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="card col s12">
                <h3 class="center-align green-text">Learning Opportunities</h3>
                <p class="flow-text">
                    Students who fall behind over the summer are less likely to graduate from high school or go to college. The cumulative effect
                    of lack of healthy food, safe places to spend the day, and discontinuation of learning can leave low-income
                    students far behind their peers.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m9 l8">
                <ul class="collapsible">
                    {%for place in places%}
                    <li>
                        <div class="collapsible-header" id-out="{{place.id}}">
                            <ul>
                                <li>
                                    <h6 class="green-text">{{place.name}}</h6>
                                </li>
                                <li>{{place.address}}</li>
                                <li>{{place.contact}}</li>
                                <br>
                                <li class="">{{place.description}}</li>
                            </ul>
                        </div>
                        <div class="collapsible-body">
                            <div style="width:90%; height:400px; margin:auto;" id="{{place.id}}"></div>
                            <!-- map -->
                        </div>
                    </li>
                    {%endfor%}
                    <!-- <li>
                        <div class="collapsible-header" id='10'>
                            
                        </div>
                        <div class="collapsible-body">
                            <span>Lorem ipsum dolor sit amet.</span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header" id='10'>
                        </div>
                        <div class="collapsible-body">
                            <span>Lorem ipsum dolor sit amet.</span>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <footer class="page-footer blue accent-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">SetForSummer.org</h5>
                    <p class="grey-text text-lighten-4">This site was built using Django at CodingDojo Seattle</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="/contact">Contact</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="/faqs">FAQs</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="/about">About this project</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">

        </div>
    </footer>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJwn80Tpgl0gfMixJtCmDvzvfkCUMobKk&libraries=places&callback=initMap" async defer></script>
    <a href="#top" id="top-btn" class="btn-floating green btn hide-on-med-and-up">
            <i class="material-icons">keyboard_arrow_up</i>
        </a>
        <a href="#top" id="top-btn" class="btn-floating green btn-large hide-on-small-only">
            <i class="material-icons">keyboard_arrow_up</i>
        </a>

</body>

</html>