    <div id="map"></div>
    
    <script>
        function initMap(){
            var latitude = 0;
            var longitude = 0;
            var coords={lat:latitude,lng:longitude}

            var mapCenter = new google.maps.LatLng(coords.lat,coords.lng);

            var options = {
                zoom:18,
                center:coords
            }
            
            var map = new google.maps.Map(document.getElementById('map'), options);
        }
    </script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJwn80Tpgl0gfMixJtCmDvzvfkCUMobKk&libraries=places&callback=initMap"
    async defer></script>

</body>
</html>

